@media(max-width:1000px){
      .row{
        flex-direction: column;
      }
      .img{
        width: 100%;

      }
      .card{
        width: 100%;
      }
}
@media(max-width:480px){
    .img{
        height: 300px;
    }
    .img2{
        height: 300px;
    }
}